# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 1852abfefefa1cffc64dc89786fbd16d34bc4104660ebc93a337ab7976b9624f5c933bd5181092655d055ae4e9c2fdb5e1d421cf8f409fd90994b86d2a997965

test:
  secret_key_base: 24a0a50154ba7b9a1438f6ae44f71f7f8e51558bd6cacfa4b60fcecb2a3bbbab487f25e84eadbab6797a297b2d0ff6d9b57a5e4534cc325ef10d0acc980ca9f6

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
